{% extends 'base.html' %}

{% block title %}Billets Vendus{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Tous les Billets Vendus</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Numéro de billet</th>
            <th>Titre</th>
            <th>Acheteur</th>
            <th>Prix</th>
            <th>Date d'achat</th>
        </tr>
        </thead>
        <tbody id="tickets">
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.details.ticket.number }}</td>
                <td>{{ ticket.details.ticket.title }}</td>
                <td>{{ ticket.details.buyer.firstName }} {{ ticket.details.buyer.lastName }}</td>
                <td>{{ ticket.details.ticket.price.amount }} {{ ticket.details.ticket.price.currency }}</td>
                <td>{{ ticket.purchase_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Section pour les notifications -->
    <div aria-live="polite" aria-atomic="true" style="position: fixed; top: 20px; right: 20px; z-index: 9999;">
        <div id="toast-container"></div>
    </div>

    <script>
        const socket = io();

        // màj en temps réel
        socket.on("new_ticket", function (ticket) {
            const details = ticket.details;

            const table = document.getElementById("tickets");
            const row = document.createElement("tr");
            row.innerHTML = `
            <td>${details.ticket.number}</td>
            <td>${details.ticket.title}</td>
            <td>${details.buyer.firstName} ${details.buyer.lastName}</td>
            <td>${details.ticket.price.amount} ${details.ticket.price.currency}</td>
            <td>${ticket.purchase_date}</td>
        `;
            table.prepend(row);

            // show notif (nouveau ticket)
            const toastContainer = document.getElementById('toast-container');
            const toast = document.createElement('div');
            toast.className = 'toast';
            toast.setAttribute('role', 'alert');
            toast.setAttribute('aria-live', 'assertive');
            toast.setAttribute('aria-atomic', 'true');
            toast.setAttribute('data-delay', '5000');
            toast.innerHTML = `
            <div class="toast-header">
                <strong class="mr-auto">Nouveau Billet Vendu</strong>
                <small>Maintenant</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                ${details.buyer.firstName} ${details.buyer.lastName} a acheté un billet pour ${details.ticket.title}.
            </div>
        `;
            toastContainer.appendChild(toast);
            $(toast).toast('show');
        });
    </script>
{% endblock %}
