<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Live Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Live Ticket Dashboard</h1>
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Total billets vendus : <span id="total-tickets">{{ tickets|length }}</span></h4>
        </div>
        <div class="col-md-6 text-right">
            <h4>Revenu total : <span id="total-revenue">{{ total_revenue }}</span> CHF</h4>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Numéro de billet</th>
            <th>Titre</th>
            <th>Acheteur</th>
            <th>Prix</th>
        </tr>
        </thead>
        <tbody id="tickets">
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.details.ticket.number }}</td>
                <td>{{ ticket.details.ticket.title }}</td>
                <td>{{ ticket.details.buyer.firstName }} {{ ticket.details.buyer.lastName }}</td>
                <td>{{ ticket.details.ticket.price.amount }} {{ ticket.details.ticket.price.currency }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    const socket = io();

    socket.on("new_ticket", function(ticket) {
        const details = ticket.details;
        const table = document.getElementById("tickets");

        // Créer une nouvelle ligne dans le tableau
        const row = document.createElement("tr");
        row.innerHTML = `
                <td>${details.ticket.number}</td>
                <td>${details.ticket.title}</td>
                <td>${details.buyer.firstName} ${details.buyer.lastName}</td>
                <td>${details.ticket.price.amount} ${details.ticket.price.currency}</td>
            `;
        table.appendChild(row);

        const totalTicketsElement = document.getElementById("total-tickets");
        let totalTickets = parseInt(totalTicketsElement.innerText);
        totalTickets += 1;
        totalTicketsElement.innerText = totalTickets;

        const totalRevenueElement = document.getElementById("total-revenue");
        let totalRevenue = parseFloat(totalRevenueElement.innerText);
        totalRevenue += parseFloat(details.ticket.price.amount);
        totalRevenueElement.innerText = totalRevenue.toFixed(2);
    });
</script>
</body>
</html>
